
windows/.vs/windows/v15/.suo
windows/.vs/windows/v15/Browse.VC.db
windows/.vs/windows/v15/Browse.VC.opendb
windows/windows.sln
windows/windows.vcxproj
windows/windows.vcxproj.filters
windows/windows.vcxproj.user
windows/.vs/windows/v15/ipch/AutoPCH/f032d521fc714a90/WINDOWS.ipch
.vs/windows/v15/.suo
.vs/windows/v15/Browse.VC.db
.vs/windows/v15/ipch/AutoPCH/7ddc8389d17d595b/WINDOWS.ipch
windows.sln
windows.vcxproj
windows.vcxproj.filters
windows.vcxproj.user
windows/windows.cpp
windows/windows.h
windows/windows.cpp
windows/windows.h
